PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/gateway-db
JWT_SECRET=replace_with_a_strong_secret
AUTH_SERVICE_URL=http://localhost:4001
PATIENT_SERVICE_URL=http://localhost:4002
DOCTOR_SERVICE_URL=http://localhost:4003
APPOINTMENT_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
AI_SERVICE_URL=http://localhost:4006
