PORT=4004
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/appointment-db
JWT_SECRET=replace_with_a_strong_secret
DOCTOR_SERVICE_URL=http://localhost:4003
PATIENT_SERVICE_URL=http://localhost:4002
AUTH_SERVICE_URL=http://localhost:4001
FRONTEND_URL=http://localhost:5173
GATEWAY_PUBLIC_URL=http://localhost:4000
PAYHERE_MERCHANT_ID=replace_with_payhere_merchant_id
PAYHERE_MERCHANT_SECRET=replace_with_payhere_merchant_secret
PAYHERE_CURRENCY=LKR
PAYHERE_NOTIFY_URL=http://localhost:4000/api/appointments/payhere/notify
